/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

.draggableObject {
    cursor: move;
}

.center {
    margin: auto;
    width: 70%;
    background-color: #b0e0e6;
}

#header {
    position: relative;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.menu {
    height: 132px;
}

.separator {
    width: 2px;
    float: left;
}

.export {
    background-color: #CACCCD;
    float: right;
    width: 300px;
}

#scene {
    position: relative;
    left: 0px;
}

.spin-button {
    width: 25px;
    margin-top : 8px;
}

textarea {
    resize: none;
}